#include <windows.h>

/* Иконка приложения */
1 ICON "green_vector.ico"

/* Метаданные: имя издателя, версия, описание */
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"   /* английский (US), Unicode */
        BEGIN
            VALUE "CompanyName",      "Agetan"
            VALUE "FileDescription",  "LSB Steganography Tool"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "IU_CODE"
            VALUE "LegalCopyright",   "Copyright (C) 2025 Agetan"
            VALUE "OriginalFilename", "IU_CODE.exe"
            VALUE "ProductName",      "IU_CODE"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200   /* US English, Unicode */
    END
END
